.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;


    img {
        width: rem(16px);
        height: rem(16px);
    }

    button {
        height: 100%;
    }


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $padding-sm;
        height: 100%;

        a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #0066D2;

            &:hover {
                text-decoration: none;
            }

            &.active {
                font-weight: 600;
            }
        }
    }

    .user-options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(8px);
        height: 100%;

        img:nth-child(2) {
            width: rem(24px);
            height: rem(24px);
        }
    }

    @include for-normal-layout {

        img {
            width: rem(20px);
            height: rem(20px);
        }

        .user-options {
            img:nth-child(2) {
                width: rem(28px);
                height: rem(28px);
            }
        }
    }
}