.edit-folder-modal {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 12;

    .modal-container {
        position: relative;
        display: grid;
        grid-template-columns: rem(20px) auto rem(20px);
        grid-template-rows: auto auto 1fr rem(20px);
        align-items: center;
        justify-content: center;
        gap: rem(10px);
        min-width: rem(180px);
        min-height: rem(280px);
        max-width: rem(600px);
        max-height: rem(600px);
        width: 60vw;
        height: 60vh;
        padding: rem(24px) rem(10px) rem(24px) rem(10px);
        background-color: #fff;
        border-radius: rem(10px);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        h2 {
            grid-column: 2;
            grid-row: 2;
            text-align: center;
        }

        button {
            &.close-modal {
                position: absolute;
                top: rem(20px);
                left: rem(20px);

                img {
                    width: rem(24px);
                    height: auto;
                }
            }
        }

        form {
            grid-column: 2;
            grid-row: 3;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: rem(10px);
            width: 100%;
            margin-block-end: auto;

            .input-container {
                width: 100%;

                input {
                    width: 100%;

                    &.input-color {
                        margin-block: rem(8px);
                        width: 30%;
                    }
                }
            }

            button {
                border: rem(1px) solid #c3d8e2;
                border-radius: rem(6px);
                padding: rem(10px);
            }
        }
    }
}

@include for-narrow-layout {
    .edit-folder-modal {
        // top: 20%;
        // left: 50%;
        // transform: translate(-50%, 0);
        // display: flex;

        .modal-container {
            justify-content: center;
            min-width: rem(180px);
            min-height: rem(280px);
            max-width: rem(600px);
            max-height: rem(600px);
            width: 60vw;
            height: 60vh;
            border-radius: rem(10px);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        }
    }
}

@include for-normal-layout {
    .edit-folder-modal {
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);
        // display: flex;
    }
}