.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 100%;
    height: 100%;

    .login-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        max-width: rem(460px);
        padding: rem(32px);
        border-radius: rem(8px);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;

        h1 {
            font-weight: 700;
            font-style: normal;
            font-size: rem(24px);
            line-height: rem(32px);
            text-align: center;
            margin-block-end: rem(8px);
        }

        h2 {
            font-size: rem(16px);
            font-weight: 400;
            text-align: center;
            margin-block-end: rem(24px);
            color: #4B5563;
        }

        .error-container {
            padding: rem(12px);
            margin-bottom: rem(16px);
            border-radius: rem(6px);
            border: 1px solid #FECACA;
            background-color: #FEF2F2;
            width: 100%;

            p {
                font-size: 0.875rem;
                line-height: 1.25rem;
                color: #DC2626;

            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: rem(14px);

            label {
                display: none;
            }

            input {
                padding: rem(8px) rem(16px);
                border-radius: rem(6px);
                border: 1px solid #D1D5DB;
                width: 100%;
                height: rem(46px);
                font-size: rem(16px);

                &::placeholder {
                    color: #9DA3B0;
                    font-weight: 600;
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 2px #3B82F6;
                }
            }

            .password-container {
                position: relative;
                width: 100%;

                svg {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: rem(20px);
                    height: auto;
                    transform: translate(-50%, -50%);
                    color: #6B7280;
                    cursor: pointer;

                    &:hover {
                        color: #374151;
                    }
                }

                p {
                    padding: rem(6px);
                }
            }

            button {
                padding: rem(8px) rem(16px);
                border-radius: rem(6px);
                width: 100%;
                height: rem(46px);
                color: #ffffff;
                background-color: #2563EB;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
                font-size: rem(16px);
                font-weight: 600;

                &:hover {
                    background-color: #1D4ED8;
                }
            }
        }

        p {
            &.error-msg {
                color: red;
            }

            &.forgot-password {
                cursor: pointer;
                font-size: rem(14px);
                line-height: rem(20px);
                color: #2563EB;
                margin-block-start: rem(16px);

                &:hover {
                    color: #1E40AF;
                }
            }
        }
    }
}