.app-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: #fff;


    img {
        width: rem(100px);
        height: rem(18px);
    }

    button {
        height: 100%;
    }


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $padding-sm;
        height: 100%;

        a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #0066D2;

            &:hover {
                text-decoration: none;
            }

            &.active {
                font-weight: 600;
            }
        }
    }

    .user-options {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(8px);
        height: 100%;

        form {
            input {
                transition: all 0.2s ease-out;
                border-radius: rem(8px);
                height: rem(28px);
                border: rem(1px) solid grey;
                padding: rem(8px);

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            &.hide {
                input {
                    opacity: 0;
                    width: 0;
                }
            }

            &.show {
                input {
                    opacity: 1;
                    width: 300px;
                }
            }
        }

        img {
            cursor: pointer;

            &:nth-child(2) {
                width: rem(24px);
                height: rem(24px);
            }
        }


        .user-menu {
            position: absolute;
            top: rem(40px);
            right: rem(10px);
            background-color: #fff;
            border: rem(1px) solid grey;
            border-radius: rem(8px);
            width: rem(150px);
            height: fit-content;
            padding: rem(20px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    @include for-normal-layout {

        img {
            width: rem(22px);
            height: auto;
        }

        .user-options {
            img:nth-child(2) {
                width: rem(28px);
                height: rem(28px);
            }
        }
    }
}