.forgot-password-modal {
    position: absolute;
    padding: rem(24px);
    border-radius: rem(8px);
    background-color: #ffffff;
    width: rem(400px);
    max-width: 90%;
    z-index: 50;

    .close-btn {
        position: absolute;
        top: rem(16px);
        right: rem(16px);

        svg {
            color: #6B7280;
        }
    }

    h2 {
        &.h2-modal {
            margin-block-end: rem(16px);
            font-size: rem(20px);
            line-height: rem(28px);
            font-weight: 700;
            text-align: left;
            color: #000000;
        }
    }

    p {
        &.p-modal {
            margin-block-end: rem(16px);
            color: #4B5563;
        }
    }

    form {
        &.form-modal {
            input {
                padding: rem(8px) rem(16px);
                border-radius: 0.375rem;
                border-width: 1px;
                border-color: #D1D5DB;
                width: 100%;
            }
        }
    }

}