// Padding and Spacing
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 20px;
$padding-xxl: 40px;
$padding-xxxl: 80px;

// Margins
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 12px;
$margin-lg: 16px;
$margin-xl: 20px;
$margin-xxl: 24px;
$margin-xxxl: 42px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 744px;
$normal-breakpoint: 950px;
$wide-breakpoint: 1128px;
$xl-breakpoint: 1640px;
$xxl-breakpoint: 1880px;

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint)) {
        @content;
    }
}

@mixin for-extra-narrow-layout {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $normal-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $wide-breakpoint) {
        @content;
    }
}

// Grids
@mixin grid_layout() {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(auto, 50px) 1fr minmax(auto, 100px);
}

@mixin grid($columns, $gap: 1rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin: auto;
    gap: rem(40px) rem(16px);
    max-width: rem(1400px);

    .header-with-button {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h1 {
            font-size: rem(38px);
            font-weight: 600;
            letter-spacing: rem(-0.5px);
            padding-block-end: rem(6px);
            text-align: center;
        }

        p {
            color: #1B2128;
        }

        .main-button {
            button {
                border: rem(1px) solid gray;
                color: #333;
                border-radius: rem(8px);
                padding: rem(8px) rem(16px);
                font-weight: 500;
                transition: background-color 0.2s ease;

                &:hover {
                    // background: rgba(212, 212, 212, 0.5);
                    background-color: #dfdfdf;
                }
            }
        }

    }

    .loading {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}

@include for-narrow-layout {
    .page-grid {
        grid-template-columns: rem(20px) 1fr rem(20px);
        grid-template-rows: auto 1fr;
        align-items: start;

        .header-with-button {
            position: relative;
            grid-column: 2;
            flex-direction: row;
            gap: 0;

            h1 {
                margin-inline: auto;
            }

            .main-button {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                right: 0;
            }
        }

    }
}