.folder-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    gap: rem(10px);
    height: 100%;
    margin: auto;
    max-width: rem(1400px);

    h1 {
        grid-column: 1;
        grid-row: 1;
        font-size: rem(38px);
        font-weight: 500;
        font-family: Domine;
        text-align: center;
        padding-block-end: rem(6px);
    }

    .folder-info {
        grid-column: 1;
        grid-row: 2;

        &.mobile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 rem(6px);
            width: 100%;

            .file-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: rem(6px);

                .img-container {
                    position: relative;

                    img {
                        width: 100%;
                        max-width: rem(70px);

                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: -20px;

                        img {
                            &.vert-dots {
                                width: rem(20px);
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .empty-folder {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(10px);
        width: 100%;
        height: fit-content;
        
        img {
            width: 50vw;
            min-width: rem(100px);
            max-width: rem(400px);
            height: auto;
        }

    }
}

@include for-narrow-layout {
    .folder-info {
        display: flex;
        flex-direction: column;
        gap: rem(10px);

        .file-info {
            display: flex;
            align-items: center;
            height: fit-content;
            gap: rem(16px);

            .file-img {
                height: rem(40px);
            }

            table {
                table-layout: fixed;
                width: 100%;
                margin-inline: auto;
                border-collapse: collapse;

                thead {
                    tr {
                        border-bottom: rem(1px) solid grey;
                    }
                }

                tr {

                    th,
                    td {
                        text-align: start;
                        font-family: Outfit;
                        white-space: nowrap;

                        &:nth-child(1) {
                            width: 100%;
                        }

                        &:nth-child(2) {
                            width: rem(120px);
                        }

                        &:nth-child(3) {
                            width: rem(80px);
                        }
                    }
                }
            }

            .file-actions {
                display: flex;
                gap: rem(8px);

                button {
                    img {
                        width: rem(30px);
                        height: auto;
                    }
                }
            }
        }
    }
}