.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(14px);
    min-width: fit-content;
    width: 100%;
    height: 100%;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: rem(14px);

        input {
            width: 100%;
            min-width: fit-content;
            max-width: rem(400px);
            height: rem(40px);
            border-radius: rem(8px);
            border: rem(1px) solid grey;
            padding: rem(6px);
        }

        button {
            margin: auto;
            min-width: fit-content;
            max-width: rem(200px);
            width: 50%;
            height: rem(40px);
            padding: rem(6px);
            border: rem(1px) solid grey;
            border-radius: rem(8px);
            background-color: rgb(223, 235, 244);
        }
    }
}